@tailwind base;
@tailwind components;
@tailwind utilities;
  

.styled-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

 .styled-scrollbar::-webkit-scrollbar-thumb {
    background-color: 	#e8e9eb;
    border-radius: 14px;
  }
